[submodule "odoo"]
	path = odoo
	url = git@github.com:odoo/odoo.git
	branch = 14.0
	shallow = true
[submodule "account-analytic"]
	path = account-analytic
	url = git@github.com:OCA/account-analytic.git
	branch = 14.0
	shallow = true
[submodule "account-closing"]
	path = account-closing
	url = git@github.com:OCA/account-closing.git
	branch = 14.0
	shallow = true
[submodule "account-financial-reporting"]
	path = account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 14.0
	shallow = true
[submodule "account-financial-tools"]
	path = account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 14.0
	shallow = true
[submodule "account-invoice-reporting"]
	path = account-invoice-reporting
	url = git@github.com:OCA/account-invoice-reporting.git
	branch = 14.0
	shallow = true
[submodule "account-invoicing"]
	path = account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 14.0
	shallow = true
[submodule "odoo-usability"]
	path = odoo-usability
	url = git@github.com:akretion/odoo-usability.git
	branch = 14.0
	shallow = true
[submodule "CybroAddons"]
	path = CybroAddons
	url = git@github.com:CybroOdoo/CybroAddons.git
	branch = 14.0
	shallow = true
[submodule "odooapps"]
	path = odooapps
	url = git@github.com:odoomates/odooapps.git
	branch = 14.0
	shallow = true
[submodule "odoo-addons"]
	path = odoo-addons
	url = git@github.com:Openworx/odoo-addons.git
	branch = 14.0
	shallow = true
[submodule "bank-payment"]
	path = bank-payment
	url = git@github.com:OCA/bank-payment.git
	branch = 14.0
	shallow = true
[submodule "bank-statement-import"]
	path = bank-statement-import
	url = git@github.com:OCA/bank-statement-import.git
	branch = 14.0
	shallow = true
[submodule "account-reconcile"]
	path = account-reconcile
	url = git@github.com:OCA/account-reconcile.git
	branch = 14.0
	shallow = true
[submodule "brand"]
	path = brand
	url = git@github.com:OCA/brand.git
	branch = 14.0
	shallow = true
[submodule "commission"]
	path = commission
	url = git@github.com:OCA/commission.git
	branch = 14.0
	shallow = true
[submodule "community-data-files"]
	path = community-data-files
	url = git@github.com:OCA/community-data-files.git
	branch = 14.0
	shallow = true
[submodule "contract"]
	path = contract
	url = git@github.com:OCA/contract.git
	branch = 14.0
	shallow = true
[submodule "crm"]
	path = crm
	url = git@github.com:OCA/crm.git
	branch = 14.0
	shallow = true
[submodule "data-protection"]
	path = data-protection
	url = git@github.com:OCA/data-protection.git
	branch = 14.0
	shallow = true
[submodule "server-auth"]
	path = server-auth
	url = git@github.com:OCA/server-auth.git
	branch = 14.0
	shallow = true
[submodule "reporting-engine"]
	path = reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 14.0
	shallow = true
[submodule "server-ux"]
	path = server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 14.0
	shallow = true
[submodule "helpdesk"]
	path = helpdesk
	url = git@github.com:OCA/helpdesk.git
	branch = 14.0
	shallow = true
[submodule "social"]
	path = social
	url = git@github.com:OCA/social.git
	branch = 14.0
	shallow = true
[submodule "mis-builder"]
	path = mis-builder
	url = git@github.com:OCA/mis-builder.git
	branch = 14.0
	shallow = true
[submodule "server-tools"]
	path = server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 14.0
	shallow = true
[submodule "product-attribute"]
	path = product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 14.0
	shallow = true
[submodule "project"]
	path = project
	url = git@github.com:OCA/project.git
	branch = 14.0
	shallow = true
[submodule "purchase-workflow"]
	path = purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 14.0
	shallow = true
[submodule "queue"]
	path = queue
	url = git@github.com:OCA/queue.git
	branch = 14.0
	shallow = true
[submodule "sale-reporting"]
	path = sale-reporting
	url = git@github.com:OCA/sale-reporting.git
	branch = 14.0
	shallow = true
[submodule "sale-workflow"]
	path = sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 14.0
	shallow = true
[submodule "web"]
	path = web
	url = git@github.com:OCA/web.git
	branch = 14.0
	shallow = true
[submodule "muk_web"]
	path = muk_web
	url = git@github.com:muk-it/muk_web.git
	branch = 14.0
	shallow = true
[submodule "l10n-spain"]
	path = l10n-spain
	url = git@github.com:OCA/l10n-spain.git
	branch = 14.0
	shallow = true
